@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Mulish';
}

/* Works on Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: blue orange;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 15px;
}

*::-webkit-scrollbar-track {
    background: #F0F0F0;
}

*::-webkit-scrollbar-thumb {
    background-color: #C1C7CD;
    border-radius: 20px;
    border: 4px solid #F0F0F0;
}

img{
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    user-drag: none;
}

.startPage{
    --background: radial-gradient(238.54% 951.39% at 2.5% -7.92%, #FFFFFF 0%, #F4F5F6 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
    --overflow: hidden;
}

.scroll-y{
    overflow-y: hidden;
}

.menuButton {
    --background:rgb(255, 196, 0);
    width: 500px;
    height: 200px;
    position: absolute;
    left: calc(50% - 250px);
    top: calc(50% - 100px);
    font-size: 100px;
}


/*video{*/
/*    display: none;*/
/*}*/


#block {
    display: none;
}

.exerciseView{
    position: relative;
    width: 100vw;
    height: 100vh;
    display: inline-flex;
}

.blurer{
    display: block;
    background: rgb(255, 255, 255);
    position: absolute;
    z-index: 9999;
    width: 100vw;
    height: 100vh;
    left: 0;
    top: 0;
    animation-duration: 1s;
    animation-name: blure;
    animation-fill-mode: forwards;
}

@keyframes blure{
    from {
        background: rgba(255, 255, 255, 1);
        z-index: 9999;
    }

    80%{
        z-index: 9999;
    }

    to {
        background: rgba(255, 255, 255, 0);
        z-index: -9999;
    }

}

.foregroundView{
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: 100%;
    background-color: rgba(255, 255, 255, 1);
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: center;
}

.foregroundTextBox{
    width: 100%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 11;
    /* vertical-align: middle; */
}

.foregroundText{
    color: rgb(0, 0, 0);
    text-align: center;
    width: 70%;
    font-weight: 800;
    font-size: 100px;
    line-height: 126px;
}



.poseView{
    height: 100%;
    width: 50%;
    background-color: rgb(112, 112, 112);
    display: flex;
    align-items: center;
}

.exerciseStateView{
    height: 100%;
    min-width: 50%;
    background-color: #F4F5F6;
    overflow: hidden;
    overflow-y: hidden;
}

.drawBox{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    overflow: hidden;
    overflow-y: hidden;
}

.draw{
    width: auto;
    transform:  scaleX(-1);
    height: 100vh;
    width: calc(100vh * 1.333333);
    position: absolute;
    z-index: -10;
}

.svg{
    position: absolute;
    z-index: -1;
    height: 100vh;
    width: calc(100vh * 1.333333);
}

.settings{
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgb(0, 0, 0);
    width: 300px;
    height: 25px;
    color:white;
    font-family: monospace;
    text-align: left;
    padding-left: 20px;
}

.angles{
    font-size: 20px;
}


.textBox{
    font-size: 1vw;
    padding-left: 20px;
}
.hText{
    padding-left: 10px;
}
.dotName{
    font: small-caps bold 15px sans-serif;
    fill:rgb(0, 0, 0);
}

.getAngleBox{
    margin-bottom: 20px;
}


.dot1Text,.dot2Text,.dot3Text{
    font-weight: 400;
    font-size: 20px;
}

.dot1, .dot2, .dot3{
    width: 80px;
    height: 20px;
    margin-right: 20px;
}

.ionItem{
    width: 100px;
}

/* .circle :hover{
    cursor: pointer;
} */

.dotBox{
    flex-wrap: wrap;
    display: flex;
    margin: 0 auto;
}

.selectedDotsForAngle{
    display: flex;
    margin: 20px 0;
}

.dotNumber,.selectedDotNumber{
    height: 50px;
    width: calc(50% / 6);
    background: #025b54;
    text-align: center;
    align-items: center;
    font-size: 20px;
    font-weight: 400;
}

.selectedDotNumber{
    background: #027238;
}

.dotNumber :hover{
    cursor: pointer;
}

.createRules{
    background-color: #5a5b02;
}

.checkRule{
    background-color: #025b1e;
}

.precentBox,.angleBox{
    width: 100%;
    text-align: center;
    font-size: 7vw;
    margin: 20px 0;
}

.angleBox{
    font-size: 4vw;
}

.results_page{
    display: flex;
    background: #e1e1e1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vw;
    justify-content: center;
}

.results_header{
    width: 100vw;
    height: 60px;
    background:#FFFFFF;
    position: absolute;
    left: 0;
    top: 0;
    color: #E1E1E1;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    justify-content: right;
    align-items: center;
}
.results_header p{
    margin-right: 20px;
}


.results_box{
    display: flex;
    justify-content: center;
    position: relative;
    margin-top: 70px;
    height: calc(100vh - 90px);
}

.results_graphs{
    position: relative;
    background-color: rgb(255, 255, 255);
    height: 100%;
    background: #FFFFFF;
    text-align: center;
    z-index: 10;
    border-radius: 10px;
    overflow: hidden;

}

.results_graph_scroll{
    position: relative;
    overflow-y: auto;
    height: calc(100% - (22px + 10%));
    margin: 0 auto;
    width: 60vw;
}

.results_menu{
    width: 100px;
    height: calc(100% - 158px);
    background: #FFFFFF;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 158px;
    margin-right: 10px;
}
.results_menu img{
    width: 28px;
    height: 38px;
    margin-bottom: 60px;
}

.results_days{
    width: 530px;
    height: 100%;
    background: #FFFFFF;
    border-radius: 10px;
    margin-right: 10px;
}

.resultHead{
    padding-top: 5%;
    padding-bottom: 5%;
    font-size: 22px;
    line-height: 28px;
    font-weight: 600;
    color: rgba(31, 24, 81, 1);

    font-style: upperhead;
}

.resultHead-bottom{
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #A6A8AB;
    margin-top: 20px;
    margin-bottom: 0px;
}

.resultRoundGraphText{
    font-weight: 700;
    font-size: 30px;
    line-height: 38px;
}
.resultCircleGraphBox{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.resultCircleGraph{
}
.resultCircleGraph.gr-2 {
}

.resultGraph{
    width: 340px;
    height: 260px;
    box-shadow: 3px 5px 20px rgba(172,177, 192, 0.25);
    border-radius: 10px;
    margin-bottom: 10%;
}

.circleText{
    font-weight: 700;
    font-size: 18px;
    line-height: 23px;
    color: #27262B;
}


.resultElement{
    padding-top: 20px;
    font-weight: 700;
    font-size: 30px;
    line-height: 38px;
}

.exerciseView:hover .backBtn{
    display: flex;
}

.backBtn{

    display: none;

    --background: rgba(92, 94, 96, 1);
    position: absolute;
    top: 40px;
    left: 40px;
    width: 143px;
    height: 44px;
    --border-radius: 50px;
    font-size: 20px;
    z-index: 999;


    justify-content: center;
}

.backBtn_text{
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
}
.backBtn_svg{
    padding-right: 10px;
}

.infoBox{
    background-color: #28a64e;
    color: #fff;
    width: 100%;

}

.infoStage{
    margin: 10px;
    width: calc(100% - 20px);
    font-size: 90px;
    margin: 10px;
}

.vidPunch {
    margin: 0;
    margin-bottom: 30px;
    width: 100%;
}

.canvasBox{
    overflow: hidden;
    width: 50%;
    height: 100%;
}

.svgBox{
    width: calc(100vh * 1.333333);
    height: 100vh;
    position: absolute;
    left: calc(-25vh * 1.333333);
    z-index: -100;
}

.loadingViewBox{
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: 100;
    background-color: #fff;
    display: flex;
    justify-content: center;
}

.loadingView{
    position: relative;
    width: 541px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.loadingHelpIcon{
    width: 541px;
    position: absolute;
    bottom: 80px;
}

.loadingText{
    text-align: center;
    font-weight: 800;
    font-size: 62px;
    line-height: 78px;
}


.tm{
    font-size: 25px;
}

.hight{
    font-size: 50px;
}

.gifBox{
    background-color: white;
    position: relative;
    height: 100vh;
    min-width: 50vw;
    overflow: hidden;
    z-index: 0;
    display: flex;
    justify-content: center;

}

.gif{
    position: absolute;
    height: 100%;
    top: 0;
}

.noGif{
    width: 100%;
    height: 100%;
    background: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.noGif p{
    margin: 0 40px;
    word-wrap: break-word;
    font-weight: 900;
    font-size: 88px;
    color: white;
}

.pause{
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background-color: rgba(24, 37, 53, 0.6);
;
    z-index: 100;
}
.pauseTextBox{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    color: white;

    font-size: 40px;
    font-family: 'Mulish';
    font-style: normal;
}


.pauseText{
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 11;
}


.pauseText .up{
    font-weight: 800;
    font-size: 50px;
    line-height: 63px;
}

.pauseText .middle{
    font-weight: 800;
    font-size: 100px;
    line-height: 126px;
}

.pauseText .duo {
    display: flex;
    padding-top: 90px;
}

.pauseText .duo .down{

    padding-right: 80px;
    font-weight: 600;
    font-size: 60px;
    line-height: 75px;
    letter-spacing: 0.03em;
}

.startImg{
    height: 100%;
    position: absolute;
    left: calc(-40vh);
    top: 0;
    object-fit: cover;
}

.startImgBox{
    width: 30vw;
    height: 100%;
    position: relative;
    overflow: hidden;
    background: url("./assets/gif/backStart.gif") no-repeat center;
    background-size: cover;
}




.cardsBox{
    margin-left: 5%;
    width: 70vw;
    max-width: 1100px;
    min-height: 100vh;
    /*position: relative;*/
    background-color: radial-gradient(238.54% 951.39% at 2.5% -7.92%, #FFFFFF 0%, #F4F5F6 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.titleCardBox {
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 800;
    font-size: 36px;
    line-height: 45px;
    letter-spacing: 0.03em;
    color: #1F1851;
    margin-top: 60px;
    margin-bottom: 50px;
    text-align: center;
}

.cardsWrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}




.card{
    height: 240px;
    width: 250px;
    font-size: 20px;
    cursor: pointer;
    user-select: none;
    margin-left: 30px;
    margin-top: 0px;
    margin-bottom: 30px;

    /*position: absolute;*/
    left: calc(50% - 360px / 2);
    top: calc(50% - 366px / 2);
}

.healtLink {
    color: black;
    text-decoration: none;
    position: absolute;
    text-align: center;
    bottom: 40px;
}

.nextSlideBox, .beforeSlideBox{
    position: absolute;
    width: 36px;
    height: 36px;
    right: calc(50% - 270px);
    top: calc(50% - 36px);
    background: none;
    display: flex;
    text-align: center;
    justify-content: center;
    justify-content: center;
    cursor: pointer;
    user-select: none;
}

.beforeSlideBox{
    transform: scale(-1,1);
    left: calc(50% - 270px);
}

.blocked{
    filter: opacity(0.9);
    filter: grayscale(0%);
}

.blocked.results{
    display: none;
}

.cardImg{
    width: 100%;
    height: 100%;
    max-width: 230px;
    max-height: 180px;
    object-fit: cover;
    box-shadow: 3px 5px 13px 0px rgba(118, 118, 118, 0.25);
    border-width: 0px;
    border-style: solid;
    border-radius: 6px;
    border-color: rgba(0, 0, 0, 0);
    transition: all 0.2s ease;
    margin: 0;
}



.card:hover .cardImg{
    border-width: 2px;
    border-color: #90B8F8;
}


.cardText{
    padding: 10px 10px 0 10px;
}

.cardLowerTextBox{
    display: flex;
    align-items: center;
}

.cardLowerText-1,.cardLowerText-2{
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    padding-right: 50px;
}

.cardLowerText-1{
    padding-right: 30px;
}


.cardLowerIconsBox{
    display: flex;
    align-items: center;
}

.cardLowerIconsText{
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    padding-right: 10px;
}


.cardHighText{
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 800;
    font-size: 24px;
    line-height: 30px;
    letter-spacing: 0.03em;
}


.cardLowerIconsCheckedIcon{
    padding-right: 4px;
}


.swiper-pagination{
    display: none;
}

.faLockSvg{
    position: absolute;
    right:  25px;
    top: 25px;
}

.logoSvg{
    position: absolute;
    right:  70px;
    top: 40px;
}

.exerciseTimeBox{
    position: absolute;
    right: 0;
    top: 30px;
    width: 300px;
    height: 300px;
}

.exerciseAccuracyGraphBox{
    position: absolute;
    left: 60px;
    bottom: 40px;
    width: 298px;
    height: 150px;
    background: none;


    display: flex;
}

.graphExercisesValue{
    font-weight: 600;
    font-size: 56px;
    line-height: 70px;
    color: #ffffff;
    position: absolute;
    left: 0;
    top: -20px;
}

.graphExercisesValue span{
    font-weight: 600;
    font-size: 42px;
    line-height: 53px;
}


.blueScreen{
    width: 100%;
    height: 100%;
    background-color: rgba(24, 37, 53, 0.6);
    position: absolute;
    left: 0;
    top: 0;
    cursor: pointer;
    transition: all 0.2s ease ;
}
.blueScreen:hover{
    background-color: rgba(24, 37, 53, 0.3);
}

.setsBox{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    position: absolute;

    right: 0;
    top: 0;
    display: flex;
    justify-content: end;
}

.prewiewBox{
    width: 1169px;
    height: calc(100% - 50px);
    position: relative;
    right: 20px;
    top: 20px;
    display: flex;
    justify-content: end;
}

.prewiewBox_bottom{
    height: 100px;
    width: 100%;
}

.prewiewBox:hover .hyi{
    background:rgba(24, 37, 53, 0.1);
}

.prewiewBox .exercisePreview{
    background: #F0F0F0;
    width: 345px;
    height: 100%;
    border-radius: 10px;
}



.prewiewBox .setPreview{
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    width: 819px;
    height: 100%;
    background: #F0F0F0;
    margin-right: 5px;
}

.prewiewInfo{
    padding: 40px 0 0px 40px;
    margin-bottom: 30px;
}

.prewiewInfo h1{
    font-style: normal;
    font-weight: 800;
    font-size: 34px;
    line-height: 43px;
}
.prewiewInfo h5{
    padding-top: 20px;
    font-weight: 500;
    font-size: 18px;
    line-height: 23px;
}

.setCardBox{
    width: 100%;
    height: calc(100% - 156px);
    background: #F0F0F0;
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 0;
    margin: 0px 0 100px 0;
}

.cardBoxList{
    height: 105%;

}

.setCardImgBox{
    margin: 22px 39px 22px 22px;
}

.setCard {
    display: flex;
    background: #FFFFFF;
    border-radius: 10px;
    cursor: pointer;
    margin: 0 13px 20px 40px;
    width: 748px;
    height: 256px;
    border: 3px solid #FFFFFF;
    transition: border 0.2s ease;
}

.setCard:hover{
    border: 3px solid #A3DCEF;
}


.setCardImg{
    width: 325px;
    height: 212px;
    object-fit: cover;
}.result{
    width: 207px;
    height: 150px;
}

.setCardHighText{
    padding: 23px 0;
    font-weight: 800;
    font-size: 26px;
    line-height: 33px;
}

.exercisesPreview{
    position: relative;
    overflow: hidden;
    min-width: 345px;
    height: 100%;
    background: #FFFFFF;
    border-radius: 10px;
}

.exercisesPreviewList{
    overflow-y: scroll;
    overflow-x: hidden;
    height: calc(100% - 86px);
    width: 100%;
    background-color: none;
}

.exercisesPreview.results{
    width: 860px;
    overflow-y: auto;
}

.prewivwResultHeader{
    display: flex;
    margin-left: 40px;
    margin-top: 52px;
    margin-bottom: 47px;
    justify-content: left;
    align-items: flex-end   ;
}
.prewivwResultHeader h2{
    font-weight: 700;
    font-size: 30px;
    line-height: 38px;

}
.prewivwResultHeader p{
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    margin-left: 10px;
}


.exercisesPreviewList.results{
    display: flex;
    flex-wrap: wrap;
    height: auto;
    overflow-y: auto;
}

.exercisesPreviewList h2{
    font-weight: 800;
    font-size: 26px;
    line-height: 33px;
    padding: 40px 0 30px 40px;
}
.exercisesPreviewList h4{
    font-weight: 700;
    font-size: 18px;
    line-height: 23px;
    color: #27262B;
    padding: 15px 0 10px 0;
}
.exercisesPreviewList h5{
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: #A6A8AB;
}

.exercisePrewiew__item{
    margin: 0 40px;
    width: 267px;
    height: auto;
    background: none;
    margin-bottom: 30px;
}
.exercisePrewiew__item.results{
    margin: 20px 40px;
    height: auto;
    width: 310px;
}


.exercisePrewiew__item img{
    width: 267px;
    height: auto;
    border-radius: 6px;
}

.startSetBtn{
    width: 100%;
    height: 86px;
    background:  #CED4DA;
    position: absolute;
    left: 0;
    bottom: 0;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    border-radius: 10px;
}

.startSetBtn div{
    width: 290px;
    height: 58px;
    background: #5C5E60;
    box-shadow: 1px 3px 14px rgba(0, 0, 0, 0.15);
    border-radius: 50px;
    transition: all 0.2s ease;

    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.startSetBtn p{
    font-weight: 1000;
    font-size: 22px;
    line-height: 28px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.startSetBtn div:hover{
    filter: opacity(0.9);
}

.firebase{
    position:absolute;
    left: 0;
    top: 0;
}

.graphText{
    font-weight: 700;
    font-size: 18px;
    line-height: 23px;
}

.grapLegendText{
    font-weight: 400;
    font-size: 10px;
    line-height: 10px;
    color: #272628;
}

.tick text{
    color: black;
    filter: opacity(1);
    font-weight: 500;
    font-size: 11px;
    line-height: 16px;
}

.tick line{
    filter: opacity(0.1);
}

.resultCardImgBox{
    width: 207px;
    height: 150px;
}

.resultCardImg{
    width: 207px;
    height: 150px;
    border-radius: 10px;
}

.resultCardText{
    font-weight: 700;
    font-size: 18px;
    line-height: 23px;
}

.resultCardHighText{
    width: 200px;
    padding: 20px 0 15px 15px;
}

.resultCard{
    width: 450px;
    box-shadow: 3px 5px 20px rgba(172,177,192,0.25);
    border-radius: 10px;
    display: flex;
    flex-direction:row;
    margin-left: 29px;
    margin-bottom: 50px;
    border: 2px solid rgba(174,237,228,0);
    transition: 0.2 all ease;
    position: relative;
}

.checkSvgBox{
    position: absolute;
    top: 23px;
    right: 20px; 
}

.resultCardTextBox{
    padding-left: 20px;
}

.resultCard:hover{
    border: 2px solid rgba(174,237,228,1);
}

.results_activitesText{
    display: flex;
    margin-left: 29px;
    margin-bottom: 70px;
    margin-top: 50px;
}


.resultsActivites-1{
    font-weight: 700;
    font-size: 30px;
    line-height: 38px;
}

.resultsActivites{
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    margin-left: 235px;
}

.resultsActivites-2{
    font-weight: 700;
    font-size: 18px;
    line-height: 38px;
}

.calender{
    position: relative;
    background-color: rgb(255, 255, 255);
    height: 100%;
    background: #FFFFFF;
    text-align: center;
    z-index: 10;
    border-radius: 10px;
    overflow: hidden;
    width: 80vw;
    overflow-x: auto;
    overflow-y: auto;
}

.calender_inner{

}

.week_cards{
    display: flex;
    flex-direction: row;

}

.week_name{
    font-weight: 700;
    font-size: 30px;
    line-height: 38px;
    text-align: left;
    margin-left: 40px;
    margin-bottom: 30px;
}