@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Mulish';
}

.startPage{
    --background: radial-gradient(238.54% 951.39% at 2.5% -7.92%, #FFFFFF 0%, #F4F5F6 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
    --overflow: hidden;
}

.scroll-y{
    overflow-y: hidden;
}

.menuButton {
    --background:rgb(255, 196, 0);
    width: 500px;
    height: 200px;
    position: absolute;
    left: calc(50% - 250px);
    top: calc(50% - 100px);
    font-size: 100px;
}


video{
    display: none;
}

.exerciseView{
    position: relative;
    width: 100vw;
    height: 100vh;
    display: inline-flex;
}

.blurer{
    display: block;
    background: rgb(255, 255, 255);
    position: absolute;
    z-index: 9999;
    width: 100vw;
    height: 100vh;
    left: 0;
    top: 0;
    animation-duration: 2s;
    animation-name: blure;
    animation-fill-mode: forwards;
}

@keyframes blure{
    from {
      background: rgba(255, 255, 255, 1);
      z-index: 9999;
    }
    
    80%{
        z-index: 9999;
    }

    to {
        background: rgba(255, 255, 255, 0);
        z-index: -9999;
    }
  
}

.foregroundView{
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: 100%;
    background-color: rgba(255, 255, 255, 1);
    z-index: 100;

    
}

.foregroundTextBox{
    width: 100%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 11;
    /* vertical-align: middle; */
}

.foregroundText{
    color: rgb(0, 0, 0);
    text-align: center;
    width: 70%;
    font-weight: 800;
    font-size: 100px;
    line-height: 126px;
}



.poseView{
    height: 100%;
    width: 50%;
    background-color: rgb(112, 112, 112);
    display: flex;
    align-items: center;
}

.exerciseStateView{
    height: 100%;
    min-width: 50%;
    background-color: #F4F5F6;
    overflow: hidden;
    overflow-y: hidden;
}

.drawBox{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    overflow: hidden;
    overflow-y: hidden;
}

.draw{
    width: auto;
    transform:  scaleX(-1);
    height: 100vh;
    width: calc(100vh * 1.333333);
    position: absolute;
    z-index: -10;
}

.svg{
    position: absolute;
    z-index: -1;
    height: 100vh;
    width: calc(100vh * 1.333333);
}

.settings{
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgb(0, 0, 0);
    width: 300px;
    height: 25px;
    color:white;
    font-family: monospace;
    text-align: left;
    padding-left: 20px;
}

.angles{
    font-size: 20px;
}


.textBox{
    font-size: 1vw;
    padding-left: 20px;
}
.hText{
    padding-left: 10px;
}
.dotName{
    font: small-caps bold 15px sans-serif;
    fill:rgb(0, 0, 0);
}

.getAngleBox{
    margin-bottom: 20px;
}


.dot1Text,.dot2Text,.dot3Text{
    font-weight: 400;
    font-size: 20px;
}

.dot1, .dot2, .dot3{
    width: 80px;
    height: 20px;
    margin-right: 20px;
}

.ionItem{
    width: 100px;
}

/* .circle :hover{
    cursor: pointer;
} */

.dotBox{
    flex-wrap: wrap;
    display: flex;
    margin: 0 auto;
}

.selectedDotsForAngle{
    display: flex;
    margin: 20px 0;
}

.dotNumber,.selectedDotNumber{
    height: 50px;
    width: calc(50% / 6);
    background: #025b54;
    text-align: center;
    align-items: center;
    font-size: 20px;
    font-weight: 400;
}

.selectedDotNumber{
    background: #027238;
}

.dotNumber :hover{
    cursor: pointer;
}

.createRules{
    background-color: #5a5b02;
}

.checkRule{
    background-color: #025b1e;
}

.precentBox,.angleBox{
    width: 100%;
    text-align: center;
    font-size: 7vw;
    margin: 20px 0;
}

.angleBox{
    font-size: 4vw;
}

.results{
    background-color: rgba(208, 208, 208, 0.5);
    padding: 5px;
    margin-top: 20px;
    position: absolute;

    width: 800px;
    height: 800px;

     text-align: center;
}
.resultHead{
    font-size: 50px;
    font-weight: 700;
}

.resultRoundGraphText{
    font-weight: 700;
    font-size: 50px;
    line-height: 38px;
}

.resultCircleGraph{
    width: 240px;
    height: 240px;
}

.resultElement{
    padding-top: 20px;
    font-weight: 700;
    font-size: 30px;
    line-height: 38px;
}

.exerciseView:hover .backBtn{
    display: flex;
}

.backBtn{

    display: none;

    --background: rgba(92, 94, 96, 1);
    position: absolute;
    top: 40px;
    left: 40px;
    width: 143px;
    height: 44px;
    --border-radius: 50px;
    font-size: 20px;
    z-index: 999;

    
    justify-content: center;
}

.backBtn_text{
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
}
.backBtn_svg{
    padding-right: 10px;
}

.infoBox{
    background-color: #28a64e;
    color: #fff;
    width: 100%;
    
}

.infoStage{
    margin: 10px;
    width: calc(100% - 20px);
    font-size: 90px;
    margin: 10px;
}

.canvasBox{
    overflow: hidden;
    width: 50%;
    height: 100%;
}

.svgBox{
    width: calc(100vh * 1.333333);
    height: 100vh;
    position: absolute;
    left: calc(-25vh * 1.333333);
    z-index: -100;
}

.loadingViewBox{
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: 100;
    background-color: #fff;
    display: flex;
    justify-content: center;
}

.loadingView{
    position: relative;
    width: 541px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.loadingHelpIcon{
    width: 541px;
    position: absolute;
    bottom: 80px;
}

.loadingText{
    text-align: center;
    font-weight: 800;
    font-size: 62px;
    line-height: 78px;
}


.tm{
    font-size: 25px;
}

.hight{
    font-size: 50px;
}

.gifBox{
    background-color: white;
    position: absolute;
    height: 100vh;
    min-width: 50vw;
    overflow: hidden;
    z-index: 0;
    display: flex;
    justify-content: center;
    
}

.pause{
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background-color: rgba(24, 37, 53, 0.6);
    ;
    z-index: 100;
}
.pauseTextBox{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    color: white;

    font-size: 40px;
    font-family: 'Mulish';
    font-style: normal;
}


.pauseText{
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 11;
}


.pauseText .up{
    font-weight: 800;
    font-size: 50px;
    line-height: 63px;
}

.pauseText .middle{
    font-weight: 800;
    font-size: 100px;
    line-height: 126px;
}

.pauseText .duo {
    display: flex;
    padding-top: 90px;
}

.pauseText .duo .down{

    padding-right: 80px;
    font-weight: 600;
    font-size: 60px;
    line-height: 75px;
    letter-spacing: 0.03em;
}

.startImg{
    height: 100%;
    position: absolute;
    left: calc(-40vh);
    top: 0;
    object-fit: cover;
}

.startImgBox{
    width: 50vw;
    height: 100vh;
    position: relative;
    overflow: hidden;
}


.cardsBox{
    width: 50vw;
    min-height: 100vh;
    position: relative;
    background-color: rgb(229, 229, 229);

    overflow: hidden;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}


.cardsSlider{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
}


.card{
    max-height: 366px;
    max-width: 360px;
    font-size: 20px;
    margin: 20px 0 0 0;
    padding: 10px;
    cursor: pointer;
    user-select: none;
}

.nextSlideBox{
    position: absolute;
    width: 36px;
    height: 36px;
    right: calc(50% - 270px);
    top: calc(50% - 36px);
    background: none;
    display: flex;
    text-align: center;
    justify-content: center;
    justify-content: center;
    cursor: pointer;
}

.blocked{
    filter: opacity(0.9);
    filter: grayscale(90%);
}

.cardImg{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: matrix(-1, 0, 0, 1, 0, 0);
    box-shadow: 3px 5px 13px 0px rgba(118, 118, 118, 0.25);
    width: 360px;
    height: 280px;
    border-width: 3px;
    border-style: solid;
    border-radius: 6px;
    border-color: rgba(0, 0, 0, 0);
    transition: all 0.2s ease;
    margin: 0;
}



.card:hover .cardImg{
    border-color: #90B8F8;
}


.cardText{
    padding: 10px 10px 0 10px;
}

.cardLowerTextBox{
    display: flex;
    align-items: center;
}

.cardLowerText{
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    padding-right: 50px;
}


.cardLowerIconsBox{
    display: flex;
    align-items: center;
}

.cardLowerIconsText{
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    padding-right: 10px;
}


.cardHighText{
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 800;
    font-size: 24px;
    line-height: 30px;
    letter-spacing: 0.03em;
}


.cardLowerIconsCheckedIcon{
    padding-right: 4px;
}


.swiper-pagination{
    display: none;
}

.faLockSvg{
    position: absolute;
    right:  25px;
    top: 25px;
}

.logoSvg{
    position: absolute;
    right:  70px;
    top: 40px;
}

.exerciseTimeBox{
    position: absolute;
    right: 0;
    top: 30px;
    width: 300px;
    height: 300px;
}

.exerciseAccuracyGraphBox{
    position: absolute;
    left: 60px;
    bottom: 40px;
    width: 286px;
    height: 150px;
    background: none;


    display: flex;
}

.graphExercisesValue{
    font-weight: 600;
    font-size: 56px;
    line-height: 70px;

    position: absolute;
    left: 0;
    top: 0;
}

.graphExercisesValue span{
    font-weight: 600;
    font-size: 42px;
    line-height: 53px;
}


